[FORMAT]
max-line-length=150

[SIMILARITIES]
min-similarity-lines=8
ignore-imports=yes
ignore-comments=no

[MESSAGES CONTROL]
disable=not-callable

[DESIGN]
min-public-methods=1
max-positional-arguments=7
max-args=7
