## sner example config

server:
  secret_key: 'CHANGEIT'
  xflask_proxyfix: true

  sqlalchemy_database_uri: 'postgresql://user:password@localhost/sner'

  sner_exclusions:
    - [regex, '^tcp://.*:22$']
    - [network, '127.66.66.0/26']

  oidc_name: 'OIDC_DEFAULT'
  oidc_create_user: true
  oidc_default_metadata: 'https://URL/.well-known/openid-configuration'
  oidc_default_client_id: 'dummy'
  oidc_default_client_secret: 'dummy'
  oidc_default_redirect_uri: 'https://external_hostname/auth/login_oidc_callback'

  sner_frontend_config:
    oidc_display_name: "My federation provider"
    docs_link: https://servicex.myorg.example


agent:
  server: 'http://localhost:18000'
  apikey: 'GENERATEIT'


planner:
  basic_nets: []
  nuclei_nets: []
  sportmap_nets: []
  nessus_nets: []
  auror_testssl_nets: []

  pipelines:
    standalone_queues:
      queues:
        - dev.dummy
        - sner.nuclei
        - sner.sportmap

    service_disco:
      netlist_schedule: 5days
      queue: sner.nmap.servicedisco

    six_disco:
      dns_netlist_schedule: 2days
      dns_disco_queue: sner.six_dns_discover
      storage_enum_schedule: 2days
      storage_enum_queue: sner.six_enum_discover

    service_scan:
      schedule: 4hours
      queues:
        - sner.nmap.serviceversion
        - sner.jarm
        - sner.nmap.script
      service_interval: 2days

    host_rescan:
      schedule: 4hours
      host_interval: 3days

    nuclei_scan:
      schedule: 7days
      queue: sner.nuclei.rolling

    sportmap_scan:
      schedule: 7days
      queue: sner.sportmap.rolling

    auror_hostnames:
      schedule: 1day
      queue: auror.hostnames

    auror_testssl:
      targetlist_schedule: 1day
      queue: auror.testssl
      cleanup_schedule: 1day

    storage_cleanup:
      enabled: true

    rebuild_versioninfo_map:
      schedule: 10minutes
